<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

    <title>Редагувати користувача</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="jumbotron">
        <h2 th:inline="text">Користувач : [[${user.username}]]</h2>
        <div>
            <form class="form-horizontal" th:object="${user}" th:action="@{/admin/userUpdateData}">
                <!--                Id-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Id:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:readonly="*{id}" th:field="*{id}"/>
                    </div>
                </div>
                <!--                Login-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Логін:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:readonly="*{username}" th:field="*{username}"/>
                    </div>
                </div>
                <!--                Pass-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Pass:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{password}"/>
                    </div>
                </div>
                <!--                IsActive-->
                <!--<div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
                    <label class="col-sm-2 control-label">Is Active:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:readonly="${user.enabled}" th:field="*{enabled}"/>
                    </div>
                </div>-->
                <!--                Role-->
                <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
                    <label class="col-sm-2 control-label">Role:</label>
                    <div class="col-sm-10">
                        <ul class="nav navbar-nav">
                            <li><input type="checkbox" name="ROLE_ADMIN" th:checked="${false}" th:value="*{roles}"/></li>
                            <li><label class="col-sm-2 control-label">ROLE_ADMIN</label></li>
                            <li><input type="checkbox" name="ROLE_USER" th:checked="${false}" th:value="*{roles}"/></li>
                            <li><label class="col-sm-2 control-label">ROLE_USER</label></li>
                        </ul>
                        <input type="text" class="form-control" th:readonly="*{roles}" th:field="*{roles}"/>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>