<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <style>
        select1 {
            width: 300px; /* Ширина списка в пикселах */
        }
    </style>
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
<main role="main" class="inner cover">
    <div th:if="${msg != null}">
        <h3 th:inline="text" th:style="'text-align: center'" class="text-light bg-dark"><p class="text-danger">
            [[${msg}]]</p></h3>
    </div>
    <h2 th:style="'text-align: center'" class="text-light bg-dark">
    <p class="text-info">Оперативна тижнева інформація АТО</p>
    </h2>
    <table>
        <tr>
            <!--            Активні періоди відображення даних-->
            <td width="50%" valign="top">
                <div th:if="${not #lists.isEmpty(reportingWeekATOList)}">
                    <p class="h2"><strong>Активні періоди відображення даних:</strong></p>
                    <table class="table-bordered table">
                        <tr class="h2">
                            <th class="text-light bg-dark" scope="col">#</th>
                            <th class="text-light bg-dark">Дата початку:</th>
                            <th class="text-light bg-dark">Дата кінця:</th>
                        </tr>
                        <tr th:each=" reportingWeek, iter : ${reportingWeekATOList}" class="h2">
                            <th class="text-light bg-dark" scope="row" th:text="${iter.count}"></th>
                            <td class="text-light bg-dark" th:style="'font-weight: bold;'"
                                th:text="${#dates.format(reportingWeek.dateStart, 'dd-MM-yyyy')}"></td>
                            <td class="text-light bg-dark" th:style="'font-weight: bold;'"
                                th:text="${#dates.format(reportingWeek.dateEnd, 'dd-MM-yyyy')}"></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td width="10%" valign="top">
            </td>
            <!--            Ввести новий період відображення даних-->
            <td width="40%">
                <form th:action="@{/user/reportingWeekATO/newTimeInterval}">
                    <div>
                        <p class="h2"><strong>Ввести новий період відображення даних:</strong></p>
                        <table class="table table-light table-bordered">
                            <tr class="h2">
                                <th style="width: 30px;">Дата початку:</th>
                                <th style="width: 30px;">Дата кінця:</th>
                            </tr>
                            <tr>
                                <td>
                                    <!--/*@thymesVar id="dateStart" type="java.sql.Date"*/-->
                                    <label>
                                        <input size="30" type="date" required="true" title="Введіть дату"
                                               th:name="dateStart" th:value="${dateStart}"/>
                                    </label>
                                </td>
                                <td>
                                    <!--/*@thymesVar id="dateEnd" type="java.sql.Date"*/-->
                                    <label>
                                        <input size="30" type="date" required="true" title="Введіть дату"
                                               th:name="dateEnd" th:value="${dateEnd}"/>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-lg btn-secondary">Додати новий період</button>
                </form>
                <br>
                <br>
                <!--                Виберіть періоди відображення даних-->
                <div th:if="${not #lists.isEmpty(reportingWeekATOList)}">
                    <form th:action="@{/user/atoTable}">
                        <p class="h2"><strong>Виберіть періоди відображення даних:</strong></p>
                        <select th:width="300px" th:height="150px" class="form-control" name="idReportingWeek"
                                id="idReportingWeek">
                            <option th:value="0" class="h2">Виберіть період .....</option>
                            <option th:each=" reportingWeek : ${reportingWeekATOList}"
                                    th:value="${reportingWeek.id}"
                                    th:text="'з ' + ${#dates.format(reportingWeek.dateStart, 'dd-MM-yyyy')}
                                    + ' по ' + ${#dates.format(reportingWeek.dateEnd, 'dd-MM-yyyy')}" class="h2">
                            </option>
                        </select>
                        <br/>
                        <button type="submit" class="btn btn-lg btn-secondary">Перейти до таблиці</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <div th:if="${message}">
        <h4 th:align="center" class="text-danger" th:text="${message}"/>
    </div>
</main>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>