<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
<main role="main" class="inner cover">
    <div th:if="${msg != null}">
        <h3 th:inline="text" th:style="'text-align: center'" class="text-light bg-dark">Повідомлення :<p
                class="text-danger">[[${msg}]]</p></h3>
    </div>
    <div th:if="${not #lists.isEmpty(reportingWeekATOList)}">
        <p class="h2"><strong>Активні періоди відображення даних:</strong></p>
        <table class="table table-light table-bordered">
            <tr>
                <th scope="col">#</th>
                <th>Дата початку:</th>
                <th>Дата кінця:</th>
            </tr>
            <tr th:each=" reportingWeek, iter : ${reportingWeekATOList}">
                <th scope="row" th:text="${iter.count}"></th>
                <td th:text="${reportingWeek.dateStart}"></td>
                <td th:text="${reportingWeek.dateEnd}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${not #lists.isEmpty(reportingWeekATOList)}">
        <form th:action="@{/user/atoTable}">
            <p class="h2"><strong>Періоди відображення даних:</strong></p>
            <select class="form-control" name="idReportingWeek" id="idReportingWeek">
                <option value="0">Виберіть період .....</option>
                <option th:each=" reportingWeek : ${reportingWeekATOList}"
                        th:value="${reportingWeek.id}"
                        th:text="'З ' + ${reportingWeek.dateStart} + ' По ' + ${reportingWeek.dateEnd}">
                </option>
            </select>
            <br/>
            <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
        </form>
    </div>
    <form th:action="@{/user/reportingWeek/newTimeInterval}">
        <div>
            <p class="h2"><strong>Ввести новий період відображення даних:</strong></p>
            <table class="table table-light table-bordered">
                <tr>
                    <th style="width: 30px;">Дата початку:</th>
                    <th style="width: 30px;">Дата кінця:</th>
                </tr>
                <tr>
                    <td>
                        <!--/*@thymesVar id="dateStart" type="java.sql.Date"*/-->
                        <label>
                            <input size="30" type="date" th:name="dateStart" th:value="${dateStart}"/>
                        </label>
                    </td>
                    <td>
                        <!--/*@thymesVar id="dateEnd" type="java.sql.Date"*/-->
                        <label>
                            <input size="30" type="date" th:name="dateEnd" th:value="${dateEnd}"/>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <br/>
        <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
    </form>
</main>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>