<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
<main role="main" class="inner cover">
    <form th:object="${owiATOForm}" th:action="@{'/user/editAtoTable/'+${idReportingWeek}}">
        <div th:if="${not #lists.isEmpty(reportingWeekATO)}">
            <!--            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
            <H3 th:text="${timeInterval}" th:align="center"></H3><br>
            <table class="rotate-table-grid table-striped table-light">
                <thead>
                <tr class="text-light bg-dark">
                    <td rowspan="2"><strong>№</strong></td>
                    <td rowspan="2">&nbsp;</td>
                    <td colspan="6" th:align="center"><strong>Всього за весь період АТО</strong></td>
                    <td colspan="6" th:align="center"><strong>За звітній тиждень</strong></td>
                </tr>
                <tr class="text-light bg-dark">
                    <span th:each=" value : ${tableHeader}">
                        <th><span th:text="${value}"></span></th>
                    </span>
                </tr>
                </thead>
                <tbody>
                <tr th:each="owiATO, stat : *{owiATOList}">
                    <input type="hidden" th:field="*{owiATOList[__${stat.index}__].vendorCode}"/>
                    <input type="hidden" th:field="*{owiATOList[__${stat.index}__].name}"/>
                    <input type="hidden" th:field="*{owiATOList[__${stat.index}__].reportingWeekId}"/>
                    <input type="hidden" th:field="*{owiATOList[__${stat.index}__].owi_ato_id}"/>
                    <!--                    <td th:text="${form21001.form39.numberVisitsAll}==0 ? '' : ${form21001.form39.numberVisitsAll}"></td>-->
                    <td class="text-light bg-dark" th:text="*{owiATOList[__${stat.index}__].vendorCode}"/>
                    <td class="text-light bg-dark" th:text="*{owiATOList[__${stat.index}__].name}"/>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="wholePeriodTotal"
                               th:field="*{owiATOList[__${stat.index}__].wholePeriodTotal}"
                               placeholder="numbers" required="true" autofocus="true"/>
                    </td>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="wholePeriodCivilian"
                               th:field="*{owiATOList[__${stat.index}__].wholePeriodCivilian}"
                               placeholder="num" required="true" autofocus="true"/>
                    </td>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="wholePeriodSoldiers"
                               th:field="*{owiATOList[__${stat.index}__].wholePeriodSoldiers}"
                               placeholder="num" required="true" autofocus="true"/>
                    </td>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="wholePeriodDemobilized"
                               th:field="*{owiATOList[__${stat.index}__].wholePeriodDemobilized}"
                               placeholder="num" required="true" autofocus="true"/>
                    </td>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="wholePeriodWomen"
                               th:field="*{owiATOList[__${stat.index}__].wholePeriodWomen}"
                               placeholder="num" required="true" autofocus="true"/>
                    </td>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="wholePeriodChildren"
                               th:field="*{owiATOList[__${stat.index}__].wholePeriodChildren}"
                               placeholder="num" required="true" autofocus="true"/>
                    </td>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="reportingWeekTotal"
                               th:field="*{owiATOList[__${stat.index}__].reportingWeekTotal}"
                               placeholder="num" required="true" autofocus="true"/>
                    </td>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="reportingWeekCivilian"
                               th:field="*{owiATOList[__${stat.index}__].reportingWeekCivilian}"
                               placeholder="num" required="true" autofocus="true"/>
                    </td>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="reportingWeekSoldiers"
                               th:field="*{owiATOList[__${stat.index}__].reportingWeekSoldiers}"
                               placeholder="num" required="true" autofocus="true"/>
                    </td>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="reportingWeekDemobilized"
                               th:field="*{owiATOList[__${stat.index}__].reportingWeekDemobilized}"
                               placeholder="num" required="true" autofocus="true"/>
                    </td>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="reportingWeekWomen"
                               th:field="*{owiATOList[__${stat.index}__].reportingWeekWomen}"
                               placeholder="num" required="true" autofocus="true"/>
                    </td>
                    <td>
                        <input class="font-weight-bold" min="0" max="5000" type="number"
                               title="введіть число" th:name="reportingWeekChildren"
                               th:field="*{owiATOList[__${stat.index}__].reportingWeekChildren}"
                               placeholder="num" required="true" autofocus="true"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
    </form>
</main>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
<script src="/js/table.js"></script>
<script src="/js/jquery.min.js"></script>
</body>
</html>