<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
    <div class="jumbotron">
        <div class="row text-center">
            <div th:if="${not #lists.isEmpty(listMessage)}">
                <h2>Message</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Text</th>
                    </tr>
                    <tr th:each="message : ${listMessage}">
                        <td th:text="${message.id}">Message id</td>
                        <td th:text="${message.text}">Message login</td>
                       <!-- <td><a th:href="${ '/admin/user/edit/' + user.id}">Edit</a></td>
                        <td><a th:href="${'/admin/user/onOff/' + user.id}">Активувати(Деактивувати)</a></td>-->
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>