<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body class="text-center">
<!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
<main role="main" class="inner cover">
    <div class="inner">
        <div th:if="${msg != null}">
            <h3 th:inline="text" th:style="'text-align: center'" class="text-light bg-dark">Повідомлення :<p
                    class="text-danger">[[${msg}]]</p></h3>
        </div>
        <br>
        <form th:action="@{/user/saveWordDocument}">
            <p class="h2"><strong>Періоди відображення даних:</strong></p>
            <select class="form-control" name="idReportingWeek" id="idReportingWeek">
                <option value="0">Виберіть період .....</option>
                <option th:each=" reportingWeek : ${reportingWeekATOList}"
                        th:value="${reportingWeek.id}"
                        th:text="'З ' + ${reportingWeek.dateStart} + ' По ' + ${reportingWeek.dateEnd}">
                </option>
            </select>
            <br>
            <button type="submit" class="btn btn-lg btn-secondary">Створити звіт</button>
        </form>
        <div th:if="${fileAbsolutePath}">
            <span th:text="'Файл знаходиться : ' + ${fileAbsolutePath}"> </span>
            <form th:action="@{/user/uploadDocx}">
                <br>
                <button type="submit" class="btn btn-lg btn-secondary">Сторінка завантаження документа!</button>
            </form>
        </div>
    </div>
</main>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>