<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
<main role="main" class="inner cover">
    <div>
<!--        enctype="multipart/form-data"-->
        <form method="POST"  th:action="@{/user/uploadDocx}">
            <div th:if="${filename}">
            <input type="text" class="form-control" th:name="filename" th:value="${filename}"
                   th:readonly="filename" placeholder="Text" required="true" autofocus="true"/>
            <br>
            <button type="submit" class="btn btn-lg btn-secondary">Зробити посилання</button>
        </form>
    </div>
    </div>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <div th:if="${message}">
        <h5 th:text="${message}"/>
    </div>
    <div>
        <ul>
            <li th:each="file : ${files}">
                 <a th:href="${file}" th:text="${file}"/>
            </li>
        </ul>
    </div>
</main>
</body>
</html>