<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
</head>
<body>
<div th:fragment="footer">
    <footer class="mastfoot mt-auto">
        <div class="inner">
            © 2020 Kvelinskyi Igor
            <span sec:authorize="isAuthenticated()">| Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
        </div>
    </footer>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery.slim.min.js"><\/script>')</script>
    <script src="/js/bootstrap.bundle.js"></script>
</div>
</body>
</html>