<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
<main role="main" class="container">
    <div class="mx-auto d-block">
        <h1>І А В М С</h1>
        <img width="400" th:src="@{/images/dub.png}"/>
        <h3> м. Київ </h3>
    </div>
    <form th:action="@{/user/wordDoc}">
        <div class="row">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</main>
</body>
</html>