<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
<main role="main" class="inner cover">
        <h1 class="cover-heading">І А В М С</h1>
        <img width="800" th:src="@{/images/dub.png}"/>
        <h3 class="cover-heading"> м. Київ </h3>
<!--    divisionByZero-->
        <!--<form th:action="@{/user/divisionByZero}">
            <div class="row">
                <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
            </div>
        </form>-->
</main>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>